.plate {
  stroke: black;
  stroke-width: 2;
  width: 10px;
}

.five-pound-plate {
  fill: white;
  height: 30px;
}

.ten-pound-plate {
  fill: gray;
  height: 40px;
}

.twenty-five-pound-plate {
  fill: green;
  height: 50px;
}

.thirty-five-pound-plate {
  fill: yellow;
  height: 60px;
}

.forty-five-pound-plate {
  fill: blue;
  height: 70px;
}

.fifty-five-pound-plate {
  fill: red;
  height: 80px;
}